<div class="jumbotron">
    <h2>Product details page</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="./../img/snickers.jpg" alt="img_for_prod_1"></td>
                <td>Snickers</td>
                <td>Light, rapid and chip. Good choise</td>
                <td>$100</td>
            </tr>
        </tbody>
    </table>
</div>